Kylie McClain <somasis@exherbo.org> <somasissounds@gmail.com>
Marc-Antoine Perennou <keruspe@exherbo.org> <Marc-Antoine@Perennou.com>
Morgane Glidic <sardemff7@exherbo.org> <sardemff7+git@sardemff7.net>
Morgane Glidic <sardemff7@exherbo.org> <sardemff7.pub@gmail.com>
